{% extends 'layout.html.twig' %}

{% block title %}Startex{% endblock %}

{% block content %}
    <h1>Welcome to Startex !</h1>

    <p id="splash_text">
        Startex is a complete website bootstrap package, based on Silex and configured to encourage best practices. It also uses Compass and Twitter bootstrap for its HTML / CSS base. Have fun using Startex !
    </p>
{% endblock %}