{% extends 'layout.html.twig' %}

{% block title %}Startex{% endblock %}

{% block content %}
    <h1>Welcome to Startex !</h1>

    <p>
        Startex is a complete website bootstrap package, based on Silex framework and configured to encourage best practices. It also uses Compass and Twitter bootstrap for its HTML / CSS base.
        This page is a default index page. It is located here:
    </p>

    <p>
        <code>src/smartrock/MainBundle/resources/views/Page/index.html.twig</code>
    </p>

    <p>
        Feel free to edit it, remove it, or even remove the complete bundle and create your own.
    </p>

    <p>
        Have fun using Startex !
    </p>
{% endblock %}